// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-flow: column wrap;
  // align-items: center;
  max-width: 100%;
  padding: 20px;
}

header {
  display: flex;
  margin: 20px auto;

  a {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 4.5rem;

    @media (max-width: 620px) {
      margin: 1.8rem;
    }
  }
}

.intro {
  display: flex;
  background-color: grey;
  width: 100%;
  height: 500px;
  border-radius: 10px;

  @media (max-width: 725px) {
    flex-direction: column;
    align-items: center;
    height: 600px;
  }

  .img {
    margin: auto 40px;

    @media (max-width: 725px) {
      margin: 40px auto 0 auto;
    }

    img {
      border-radius: 10px;
    }
  }

  .name-text {
    margin: auto 20px;

    @media (max-width: 725px) {
      text-align: center;
    }

    h1 {
      font-size: 5rem;

      @media (max-width: 775px) {
        font-size: 4rem;
        margin-bottom: 1rem;
      }
    }

    h2 {
      font-size: 3rem;
      line-height: 5rem;

      @media (max-width: 880px) {
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    p {
      margin-top: 30px;
      font-size: 1.8rem;

      @media (max-width: 725px) {
        margin-top: 10px;
        font-size: 1.4rem;
      }
    }
  }
}
.mid-section {
  display: flex;
  // flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // margin: auto 0;

    @media (max-width: 725px) {
      align-items: center;
    }

    h2 {
      font-size: 3rem;
      // padding: 2rem 1rem;
      padding: 2.5rem 0 3.2rem 0;
      float: left;
      width: 400px;

      @media (max-width: 725px) {
        text-align: center;
      }
    }

    ul {
      width: 400px;
      border: 1px solid black;

      @media (max-width: 725px) {
        text-align: center;
        max-width: 100% - 20px;
      }

      li {
        font-size: 1.6rem;
        border: 1px solid black;
        // width: 400px;
        padding: 1rem;
      }
    }
  }

  .work-history {
    line-height: 2.2rem;
    max-width: 600px;
    // padding-right: 20px;

    @media (max-width: 1070px) {
      margin-right: 30px;
    }

    @media (max-width: 800px) {
      margin-right: 0;
      margin-top: 40px;
    }

    h1 {
      font-size: 3rem;
      text-align: center;
      padding: 2.5rem 0 2rem 0;
    }

    h2 {
      // font-size: 2rem;
      font-size: 2.5rem;
      padding: 2.2rem 0;
      // text-align: right;
    }

    h3 {
      font-size: 1.6rem;
      padding: 2px;
      // text-align: right;
      // text-align: center;
    }

    ul {
      margin-top: 20px;
      // border-radius: 20px;

      li {
        font-size: 1.3rem;
        padding: 10px;
        // list-style-type: disc;

        &:nth-child(odd) {
          background: lightgray;
        }
        &:nth-child(even) {
          background: lightblue;
        }
      }
    }
  }
}
